* {
	border: 0px solid black;
}

/* * {
	border: 1px solid red;
} */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	align-content: center;
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
	gap: 0;
	/* font-family: "JetBrains Mono", monospace; */
	font-family: DM Sans, sans-serif;

	flex-flow: column nowrap;
	background-color: #031f2e;
	color: #fffdfa;
}

.header {
	width: 960px;
	max-width: 100%;
	padding: 0px 2%;
	/* margin-top: 1%; */
	margin: 1% auto;
	/* align-self: center; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	color: white;
	font-size: 180%;
	font-weight: 900;
	align-self: center;
	max-width: 100%;
	/* padding: 4%; */
}

.headerNav {
	margin: 0px;
	padding: 0px;
}

.headerNav ul {
	/* margin: 0.5em; */
	margin: 0;
	text-align: center;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* font-size: 0%; */
}
.headerNav li {
	/* display: inline; */
	/* text-decoration: none; */
	padding-top: 1.32%;
}
.headerNav a {
	display: inline-block;
	padding: 0.5em 1.5em;
	/* padding: 5% 15%; */
	font-weight: 600;
}

a {
	text-decoration: none;
	transition: transform 0.1s ease;
	/* color: rgb(226, 226, 226); */
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}

li a:hover {
	/* Change font size on hover */
	/* font-size: 18px; */
	/* opacity: 75%; */
	/* transform: scale(1.1, 1.1); */
	color: #7d37ff;
}

.top {
	margin: 0% 0%;
	padding: 1.5% 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0px;
	/* background-color: #1f2937;
	color: white; */
	flex: 10;
	width: 100%;
}

/* .top img{
	margin-top: 0px;
	margin-bottom: 0px;
} */

.top p,
.top h1 {
	margin: 1.5% 2%;
}

p {
	font-weight: 500;
}

h1 {
	font-weight: 900;
}

.top p {
	line-height: 24px;
	font-size: 18px;
	text-align: center;
	color: lightgrey;
}

.intro {
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 600px;
	margin: 0;
}

button {
	margin: 5px 32px;
	flex: 0.3 0 auto;
	width: 100%;
	font-weight: bold;
	font-size: 150%;
	height: 50px;
	border-radius: 5%;
	background-color: #7d37ff;
	/* border: 1px solid white; */
	color: white;
	padding: 5px 20px;
	transition: 0.3s;
}

button:hover {
	cursor: pointer;
	opacity: 0.75;
}

.bigimage {
	border-radius: 3%;
	max-width: auto;
	max-height: 350px;
	margin: 2% 2%;
}

.faces {
	margin: 0px;
	padding: 0px;
}

.facesTitle {
	margin: 24px 0px;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

.theFaces {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 1% 0px;
	gap: 10px;
	flex-wrap: wrap;
}

.square {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
	gap: 2px;
}

.square img {
	/* max-width: 200px; */
	max-height: 200px;
	padding: 10px;
	margin: 0px 25px;
	margin-bottom: 8px;
	border: 4px solid #7d37ff;
	border-radius: 10%;
	transition: transform 0.1s;
}
.square img:hover {
	transform: scale3d(1.07, 1.07, 1);
}
.square p {
	padding: 0px;
	margin: 0px;
	/* margin-bottom: 10px; */
	width: 200px;
	font-size: 18px;
}

.third {
	/* background-color: #e5e7eb; */
	/* background-image: url("https://thumbs.dreamstime.com/z/young-disabled-woman-sitting-wheelchair-man-repair-wheel-love-family-human-relations-disability-boyfriend-handicapped-148950963.jpg");
	background-attachment: fixed; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-wrap: wrap;
	/* padding: 2% 2%; */
}

.third-container {
	padding: 0 2%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
}

.quote {
	font-weight: lighter;
	font-size: 36px;
	font-style: italic;
	/* color: #1f2937; */
	margin: 0;
}

.name {
	font-size: 20px;
	align-self: flex-end;
	margin: 1% 0;
}

.fourth {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.call {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 8px 20px;
	/* padding: 1% 2%; */
	/* background-color: #3882f6;
	color: white; */
	border-radius: 16px;
}

.fourthBad,
.fourthGood {
	margin: 1%;
	padding: 0;
	text-align: center;
}

.fourthGood {
	font-weight: 900;
	font-size: 40px;
}

.fourthBad {
	font-size: 18px;
	font-weight: normal;
}

.callButton {
	/* align-self: center; */
	text-align: center;
	width: 200px;
	height: 60px;
}


.sponsers {
	margin: 1% 0;
	/* padding: 10px 0px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sponsersTitle {
	margin: 0.5% 0px;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

.advertText{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	opacity: 0.69;
	margin: 0px 0px 8px 0px;
} 

.diamond {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	gap: 2px;
}

.diamond img {
	/* max-width: 200px; */
	max-height: 160px;
	padding: 4px;
	margin: 0px 80px;
	margin-bottom: 8px;
	border: 4px solid #b9f2ff;
	border-radius: 10%;
	transition: transform 0.1s;
}
.diamond img:hover {
	transform: scale3d(1.07, 1.07, 1);
}
.diamond p {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	width: 200px;
	font-size: 16px;
}


.footer {
	color: lightgrey;
	flex: 0 1 auto;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 1%; */
	max-height: 48px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1% 0;
	flex: 1;
	max-height: 24px;
	/* margin: auto; */
 	/* width: 20%; */
	/* justify-self: center; */
}

.links ul {
	display: flex;
	/* gap: 10%; */
	/* justify-content: space-between; */
	list-style: none;
	/* margin: 10%; */
	/* justify-self: center; */
	padding: 0;
	align-items: center;
	max-width: 10%;
	margin: 0;
	list-style-type: none;
	padding-left: 0
}

.links li {
	display: inline-block;
	flex: 1; 
	/* margin: 10px; */
	text-align: none;
}

.linksImage {
	max-height: 15px;
	margin: 0px;
	padding: 0px;
}
@media (max-width: 768px) {
	h1,
	p {
		scale: 0.8;
	}
	button {
		align-self: center;
		scale: 0.9;
	}
	.header {
		justify-content: space-around;
		margin-top: 7%;
	}
	.bigimage {
		/* scale: 0.9; */
		max-height: 180px;
	}
	.square {
		scale: 0.9;
	}
	/* .square img{
		max-height: 120px;
	} */
	.links ul {
		width: 30%;
		margin: 3% 0;
	}
	.headerNav ul {
		font-size: 14px;
	}
	.headerNav a {
		padding: 5px 10px;
	}
	.logo {
		font-size: 120%;
	}
}
