* {
	border: 0px solid black;
}

/* * {
	border: 1px solid red;
} */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	align-content: center;
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
	gap: 0;
	/* font-family: "JetBrains Mono", monospace; */
	font-family: DM Sans, sans-serif;

	flex-flow: column nowrap;
	background-color: #031f2e;
	color: #fffdfa;
}

.header {
	width: 960px;
	max-width: 100%;
	padding: 0px;
	/* margin-top: 1%; */
	margin: 1% auto;
	/* align-self: center; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.logo {
	color: white;
	font-size: 24px;
	font-weight: bolder;
	align-self: center;
	max-width: 100%;
}

.headerNav ul {
	margin: 0.5em;
	text-align: center;
	padding: 0;
}
.headerNav li {
	display: inline;
}
.headerNav a {
	display: inline-block;
	padding: 0.5em 1.5em;
}

a {
	text-decoration: none;
	transition: transform 0.1s ease;
	color: lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}

li a:hover {
	/* Change font size on hover */
	/* font-size: 18px; */
	/* opacity: 75%; */
	/* transform: scale(1.1, 1.1); */
	color: #7d37ff;
}

.top {
	margin: 0% 0%;
	padding: 1.5% 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0px;
	/* background-color: #1f2937;
	color: white; */
	flex: 10;
	width: 100%;
}

.top p,
.top h1 {
	margin: 1.5% 2%;
}

.top p {
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	color: lightgrey;
}

.intro {
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 600px;
	margin: 0;
}

button {
	margin: 5px 32px;
	flex: 0.3 0 auto;
	width: 100%;
	font-weight: bold;
	font-size: 150%;
	height: 50px;
	border-radius: 5%;
	background-color: #7d37ff;
	/* border: 1px solid white; */
	color: white;
	padding: 5px 20px;
	transition: 0.3s;
}

button:hover {
	cursor: pointer;
	opacity: 0.75;
}

.bigimage {
	border-radius: 3%;
	max-width: 400px;
	max-height: 200px;
	margin: 2% 2%;
}

.faces {
	margin: 0px;
	padding: 0px;
}

.facesTitle {
	margin: 24px 0px;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

.theFaces {
	flex: 8;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 1% 0px;
	gap: 10px;
	flex-wrap: wrap;
}

.square {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
	gap: 2px;
}

.square img {
	/* max-width: 200px; */
	max-height: 200px;
	padding: 10px;
	margin: 0px 25px;
	margin-bottom: 8px;
	border: 4px solid #7d37ff;
	border-radius: 10%;
	transition: transform 0.1s;
}
.square img:hover {
	transform: scale3d(1.1, 1.1, 1);
}
.square p {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	width: 200px;
	font-size: 20px;
}

.third {
	/* background-color: #e5e7eb; */
	/* background-image: url("https://thumbs.dreamstime.com/z/young-disabled-woman-sitting-wheelchair-man-repair-wheel-love-family-human-relations-disability-boyfriend-handicapped-148950963.jpg");
	background-attachment: fixed; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-wrap: wrap;
	padding: 2% 2%;
}

.third-container {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
}

.quote {
	font-weight: lighter;
	font-size: 36px;
	font-style: italic;
	/* color: #1f2937; */
	margin: 0;
}

.name {
	font-size: 20px;
	align-self: flex-end;
}

.fourth {
	display: flex;
	justify-content: center;
	align-items: center;
}

.call {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1% 2%;
	padding: 1% 2%;
	/* background-color: #3882f6;
	color: white; */
	border-radius: 16px;
}

.fourthBad,
.fourthGood {
	margin: 1%;
	padding: 0;
	text-align: center;
}

.fourthGood {
	font-weight: 900;
	font-size: 40px;
}

.fourthBad {
	font-size: 18px;
	font-weight: normal;
}

.callButton {
	/* align-self: center; */
	text-align: center;
	width: 200px;
	height: 60px;
}

.footer {
	color: lightgrey;
	flex: 0 1 auto;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
	max-height: 48px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
	flex: 1;
	max-height: 24px;
}
.links ul {
	display: flex;
	gap: 10%;
	font-size: 14px;
	justify-content: space-between;
	list-style: none;
	/* margin: 10%; */
	padding: 0;
	align-items: center;
}
/* 
.links li {
	display: inline;
} */

.linksImage {
	max-height: 15px;
	margin: 0px;
	padding: 0px;
}
@media (max-width: 768px) {
	h1,
	p {
		scale: 0.8;
	}
	button {
		align-self: center;
		scale: 0.9;
	}
	.header {
		justify-content: space-around;
		margin-top: 7%;
	}
	.bigimage {
		scale: 0.9;
	}
	.square {
		scale: 0.9;
	}
}
